<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user.css">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="header">
            <label class="multi">Multichoice Questions</label>
            <div class="timer">
                <label class="lblTime">Time left: </label>
                <p class="timeDown">60:25</p>
            </div>
        </div>
        <div class="content">
            <div class="displayQuestion">

            </div>
            <div class="answers">

            </div>
        </div>
        <div class="footer">
            <div class="buttonQuestion">

            </div>
            <div class="outExam">
                <button class="exit">Exit</button>
            </div>
        </div>
    </div>
    <script src="user.js"></script>
</body>

</html>