<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user.css">
    <title>Document</title>
</head>
<body>
       <div class="main">
            <div class="header">
                <label class="multi">Multichoice Questions</label>
            </div>
            <div class="content">

            </div>
            <div class="footer">
            </div>
       </div>
    <script src="user.js"></script>
</body>
</html>